.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 20px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5%;
    padding-left: 35px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 5%;
    padding-top: 15px;
}
td, th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: left;
    padding: 15px;
    
}

tr:hover{
    background-color: #f5f5f5;
}

#txt-esq{
    width: 500px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#txt{
    text-align: justify;
}

#mapid {
    height: 800px;
    width: 1000px;
    position: absolute;
    float: center;
    display: inline-block;
    margin: 10px;
}

#topo{
    margin-top: 0px;
    height: 100%;
    width: 100%;
    background-image: url("imagens/covid_back.jpg");
    background-position: center;        
}

#container-left{
    background-color: rgb(255, 255, 255);
    width: 360px;
    height: 820px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

::selection{
    background-color: rgb(230, 245, 94);
    color: black;
 }